<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-graph.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('prediction_routes.index') }}">Inicio</a></li>
            <li><a href="{{ url_for('prediction_routes.graphs') }}">Graficos</a></li>
            <li><a href="{{ url_for('prediction_routes.report') }}">Modelo</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Graphs</h1>
        <div class="graph-grid">
            <div class="graph-container">
                <img src="{{ url_for('static', filename='plot1.png') }}" alt="Graph 1">
            </div>
            <div class="graph-container">
                <img src="{{ url_for('static', filename='plot2.png') }}" alt="Graph 2">
            </div>
            <div class="graph-container">
                <img src="{{ url_for('static', filename='plot3.png') }}" alt="Graph 3">
            </div>
            <div class="graph-container">
                <img src="{{ url_for('static', filename='plot4.png') }}" alt="Graph 4">
            </div>
        </div>
    </div>
</body>
</html>
