<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Previsor de Salário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Previsor de Salário</h1>
        <form @submit.prevent="submitForm" id="prediction-form">
            <label for="experience_level">Nível de Experiência:</label>
            <select id="experience_level" v-model="form.experience_level">
                <option value="">Selecione o Nível de Experiência</option>
                <option value="SE">SE - Sênior</option>
                <option value="MI">MI - Médio</option>
                <option value="EN">EN - Iniciante</option>
                <option value="EX">EX - Executivo</option>
            </select>

            <label for="employment_type">Tipo de Emprego:</label>
            <select id="employment_type" v-model="form.employment_type">
                <option value="">Selecione o Tipo de Emprego</option>
                <option value="FT">Tempo Integral</option>
                <option value="CT">Contrato</option>
                <option value="FL">Freelancer</option>
                <option value="PT">Meio Período</option>
            </select>

            <label for="job_title">Título do Cargo:</label>
            <select id="job_title" v-model="form.job_title">
                <option value="">Selecione o Título do Cargo</option>
                <option value="Principal Data Scientist">Cientista de Dados Principal</option>
                <option value="ML Engineer">Engenheiro de ML</option>
                <option value="Data Scientist">Cientista de Dados</option>
                <option value="Applied Scientist">Cientista Aplicado</option>
                <option value="Data Analyst">Analista de Dados</option>
                <option value="Research Engineer">Engenheiro de Pesquisa</option>
                <option value="Analytics Engineer">Engenheiro de Análise</option>
                <option value="Business Intelligence Engineer">Engenheiro de BI</option>
                <option value="Machine Learning Engineer">Engenheiro de Aprendizado de Máquina</option>
                <option value="Data Strategist">Estrategista de Dados</option>
                <option value="Data Engineer">Engenheiro de Dados</option>
                <option value="Computer Vision Engineer">Engenheiro de Visão Computacional</option>
                <option value="Data Quality Analyst">Analista de Qualidade de Dados</option>
                <option value="Compliance Data Analyst">Analista de Dados de Conformidade</option>
            </select>

            <label for="employee_residence">Residência do Empregado:</label>
            <select id="employee_residence" v-model="form.employee_residence">
                <option value="">Selecione a Residência do Empregado</option>
                <option value="US">Estados Unidos</option>
                <option value="ES">Espanha</option>
                <option value="CA">Canadá</option>
                <option value="DE">Alemanha</option>
                <option value="GB">Reino Unido</option>
                <option value="IN">Índia</option>
                <option value="FR">França</option>
                <option value="AU">Austrália</option>
                <option value="BR">Brasil</option>
                <option value="JP">Japão</option>
            </select>

            <button type="submit">Prever</button>
        </form>

        <div id="error-message" class="error-message">Por favor, preencha todos os campos obrigatórios!</div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                form: {
                    experience_level: '',
                    employment_type: '',
                    job_title: '',
                    employee_residence: '',
                }
            },
            methods: {
                submitForm() {
                    if (this.validateForm()) {
                        axios.post('/predict', this.form)
                            .then(response => {
                                window.location.href = response.request.responseURL;
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    } else {
                        document.getElementById('error-message').style.display = 'block';
                    }
                },
                validateForm() {
                    return this.form.experience_level !== '' &&
                           this.form.employment_type !== '' &&
                           this.form.job_title !== '' &&
                           this.form.employee_residence !== '';
                }
            }
        });
    </script>
</body>
</html>
